* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 20px;


}
ul {
    display: flex;
    list-style-type: none;
}

ul li a {
    padding: 0 20px;
    text-decoration: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 50px;

}
.left-content {
    width: 50%;
    text-align: center;
}
img {
    width: 500px
}
.signup-btn {
    background: orangered;
    border-radius: 3px;

}
p {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}
.logo {
    background: orangered;
    width: 120px;
    text-align: center;
    border-radius: 3px;
    margin-right: 80%;
    position: fixed;
}
button {
    margin-top: 50px;
    width: 100px;
    background: orangered;
    border-radius: 3px;
    height: 50px;
    cursor: pointer;
    border: none;
}
nav {
    margin-left: 60%;
    position: fixed;
    text-align: center;
}
input[type="text"] {
    height: 30px;
    text-align: center;
    border-radius: 3px;
}
#email {
    width: 50%;
    height: 30px;
    margin-left: 260px;
    margin-top: 20px;
    padding-left: 15px;

}
input[type="email"] {
    border-radius: 3px;
}
input[type="submit"] {
    width: 100px;
    height: 30px;
    margin-left: 50%;
    margin-top: 30px;
    border-radius: 3px;
    background-color: orangered;
    border: none;
    cursor: pointer;
}
.info {
    height: 100%;
    width: 100%;
}
footer {
    color: black;
    padding: 20px;
    text-align: center;
    background-color: bisque;
    text-align: center;
  }
  .contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center
  }

  .contact-list li {
    margin-bottom: 10px;
}
footer ul {
    display: grid;
}
@media (max-width: 600px) {
    header {
      padding: 5px;
}
}
.socials {
    display: flex;
    padding-left: 30%;
    margin-top: 10px;
    justify-content:space-evenly
}
main {
    padding-top: 80px;
}
ul :hover {
    background-color: orange;
}
input[type="submit"]:hover {
    background-color: orange;
}
button:hover {
    background-color: orange;
}